<search-bar (newItemEvent)="getUser($event)" />

<main *ngIf="user?.name">
  <a href={{user.html_url}} target="_blank">
    <img src={{user.avatar_url}} alt={{user.name}}>
  </a>
  <h2>{{user.name}}</h2>
  <a href={{user.html_url}} target="_blank">
    <p class="username">@{{user.login}}</p>
  </a>
  <p class="bio">
    {{user.bio}}
  </p>

  <ul>
    <display-data title="Repositories" [value]="user.public_repos" />
    <display-data title="Followers" [value]="user.followers" />
    <display-data title="Following" [value]="user.following" />
  </ul>
</main>